<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete student</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<form class="col p-3 m-5" method="post" th:action="'/'+${student.id}" th:object="${student}">
    <div class="text-center">
        Are you sure to delete student?
        <input class="btn btn-secondary" type="submit" value="Delete">
        <a class="btn btn-secondary" th:href="'/'">Cancel</a>
    </div>
</form>
</body>
</html>